<% @category_type=['Food', 'Finance', 'Shopping', 'Auto','Entertainment', 'Other']%>

<% @spendings_p.zip(@budgets,@category_type,@spendings).each do |s,b,budget_cat,s2|%>
<% bar_type=cycle('progress-bar-success','progress-bar-info', 'progress-bar-warning', 'progress-bar-danger')%>
<div style="width:60%">
	<span style="padding: 3px; float: left; width: 150px; text-align: center;"><b><%=budget_cat%></b></span>
	<% if b-s2 >=0%>
	<span style="padding: 3px; float: right; width: 200px; text-align: center;"><%=number_to_currency(b-s2)%> left</span>
	<% else %>
	<span style="padding: 3px; float: right; width: 200px; text-align: center;"><font style="background-color:red;"><%=number_to_currency(s2-b)%> over</font></span>
	<%end%>
	<div class="progress">
		<div id="pb" class="progress-bar <%=bar_type%>" role="progressbar" aria-valuenow="<%=s%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=s%>%">
			<span><font color="black"><%=number_to_currency(s2)%> of <%=number_to_currency(b)%></font></span>
		</div>
	</div>
</div>

<%end%>