<%= form_for (@budget), :remote => true do |f|%>

<table>
	<tr>
		<td><%= f.label :title%></td>
		<td><%= f.text_field :title %></td>
	</tr>
	<tr>
		<td><%= f.label :price%></td>
		<td><%= f.text_field :price %></td>
	</tr>
	<tr>
		<td><%= f.label :recur_deduction_date%></td>
		<td><%= f.date_select :recur_deduction_date %></td>
	</tr>
	<tr>
		<td><%= f.label :category%></td>
		<td><%= f.select :category, Order::BUDGET_TYPES, prompt: 'Select a budget type' %></td>
	</tr>
	<tr>
		<td></td>
		<td><%= f.submit 'Add Budget', :class=> 'btn btn-primary'%></td>
	</tr>

</table>
<% end %>
