

<script type="text/javascript" charset="utf-8">
  <%=render "monthly_spendings_script"%>
  <!-- This is monthly net income-->
  <%=render "monthly_net_income_script"%>
  <%=render "spending_breakdown_script"%>
</script>
<% # this will appear in all the tabs if monthly budget is not inputted %>
<% if !@budget%>
  <div align="left" class="alert alert-info" role="alert"> 
    You need to first enter budget in order to view financial charts!
    Enter Monthly Budget Below.<br>
    <%=button_to 'Create Budget!', new_temp_budget_plan_path, {:class=>"btn btn-primary btn-lg", :method=>'get'}%>
  </div> 
<%else%>

  <% content_for :left do%>
    <% if params[:id]%>
    <div id="search_form_pie" align="center">
    <%else%>
    <div id="search_form_pie" class="non_display" align="center">
    <%end%>
    <% if notice%>
      <p id="notice"><%= notice %></p>
    <% end %>
    <strong><h3>Search Form</h3></strong>
      <%=render "spendings/advance_search_form"%>
    </div>
  <%end%>

  <% if params[:id]%>
    <% class_available_budget=""%>
    <% class_spending_breakdown="active"%>
  <% else%>
    <% class_available_budget="active"%>
    <% class_spending_breakdown=""%>
  <%end%>
  <ul id= "chart_tab" class="nav nav-tabs" role="tablist">
    <li class=<%=class_available_budget%>><%=link_to 'Available Budget','#available_budget'%></li>
    <li><%=link_to 'Monthly Spending','#monthly_spending'%></li>
    <li class=<%=class_spending_breakdown%>><%=link_to 'Spending Breakdown','#spending_breakdown'%></li>
  </ul>		
  <% if params[:id]%>
  <div id="available_budget" class="non_display">
  <%else%>
  <div id="available_budget">
  <%end%>
    <br>
    <%=render "available_budget"%>
  </div>

  <% if (@total_monthly_spendings.count >0) %>
    <div id="monthly_spending">
      No Transaction since Jan, <%=Date.current.strftime('%Y')%>
    </div>
  <%else%>
    <div id="monthly_spending">
     <div id="spending_chart" style="width: 600px; height: auto;"></div><br>
     <div id="net_income_chart" style="width: 600px; height: auto;"></div>
    </div>
  <%end%>


  <div id="spending_breakdown">
    <% if @advance_search.start_date && @advance_search.end_date%>
      <h3> Spending from <%=@advance_search.start_date.strftime('%B, %Y')%> to <%=@advance_search.end_date.strftime('%B, %Y')%>  </h3>  
    <%else %>
      <h3> Spending in <%=Date.current.strftime('%B, %Y')%> </h3>  
    <%end%>

    <% if @total %>
      <% if (@total >0)%>
        <div id="pie_chart" style="width: 600px; height: auto;"></div><br>
      <%else%>
        No Transaction were found!
      <%end%>
    <%end%>
  </div><br>

<%end%>
