
<%year= Date.current.strftime('%Y')%>
<%month= Date.current.strftime('%b')%>
<script type="text/javascript" charset="utf-8">
  <% if @total_monthly_spendings%>
  $(function () {
    new Highcharts.Chart({
      chart: { renderTo: 'spending_chart' ,
      		   type: 'column'
      },
      title: { text: 'Spending in <%=year%>'},
      xAxis: { 
              categories: <%=(@months)%>
      },
      yAxis: {
            title: {text: 'Dollars ($)'}
      },
      series: [{
      		name: '<%=session[:username]%>', 
            data: <%=@total_monthly_spendings%>
        }]
    });
  });
  <%end%>
  <!-- This is monthly net income-->
  <% if (@total_monthly_net_income.delete!'"')!=nil %>
  $(function () {
    new Highcharts.Chart({
      chart: { renderTo: 'net_income_chart' ,
      		   type: 'column'
      },

      title: {      			
      		   text: 'Net Income in <%=year%>',
      		   align:'center',
      },
      xAxis: { 
              categories: <%=(@months)%>
      },
      yAxis: {
            title: {text: 'Dollars ($)'}
      },
      series: [{
      		name: '<%=session[:username]%>', 
            data: <%=(@total_monthly_net_income.delete!'"').html_safe%>
        }]
    });
    <%end%>
    <% if (@total && @total >0)%>
    new Highcharts.Chart({
      chart: { renderTo: 'pie_chart' ,
      		   type: 'pie'
      },

      title: { 
      	<%if @is_default%>
      	text: 'Net Spending breakdown in <%=month%>, <%=year%>'},
      	<%else%>
      	text: 'Customized Net Spending breakdown'},
      	<%end%>
      tooltip: {
                pointFormat: '<b>{point.percentage:.1f}%</b>'
      },
      xAxis: { 
              categories: <%=(@months)%>
      },
      yAxis: {
            title: {text: 'Dollars ($)'}
      },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: true,
                    distance: -50,
                    style: {
                        fontWeight: 'bold',
                        color: 'white',
                        textShadow: '0px 1px 2px black'
                    }
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
      series: [{
            name: '% Spending',
            innerSize: '50%',
            data: <%=(@spendings_in_categories.delete!'"').html_safe%>
        }]
    });
    <%end%>
  });
</script>
<% content_for :left do%>
  <% if params[:id]%>
  <div id="search_form_pie" align="center">
  <%else%>
  <div id="search_form_pie" class="non_display" align="center">
  <%end%>
  <% if notice%>
    <p id="notice"><%= notice %></p>
  <% end %>
  <strong><h3>Search Form</h3></strong>
    <%=render "spendings/advance_search_form"%>
  </div>
<%end%>

<% if params[:id]%>
	<% class_available_budget=""%>
	<% class_spending_breakdown="active"%>
<% else%>
	<% class_available_budget="active"%>
	<% class_spending_breakdown=""%>
<%end%>
<ul id= "chart_tab" class="nav nav-tabs" role="tablist">
	<li class=<%=class_available_budget%>><%=link_to 'Available Budget','#available_budget'%></li>
	<li><%=link_to 'Monthly Spending','#monthly_spending'%></li>
	<li class=<%=class_spending_breakdown%>><%=link_to 'Spending Breakdown','#spending_breakdown'%></li>
</ul>		
<% if params[:id]%>
<div id="available_budget" class="non_display">
<%else%>
<div id="available_budget">
<%end%>
	<br>

	<%=render "available_budget"%>
</div>
<div id="monthly_spending" class="non_display">
	<div id="spending_chart" style="width: 600px; height: auto;"></div><br>
	<div id="net_income_chart" style="width: 600px; height: auto;"></div>
</div>
<% if params[:id]%>
  
<div id="spending_breakdown">
  <% if @advance_search%>
  <h3> Spending from <%=@advance_search.start_date.strftime('%B, %Y')%> to <%=@advance_search.end_date.strftime('%B, %Y')%>  </h3>  
  <%else %>
    <h3> Spending in <%=Date.current.strftime('%B, %Y')%> </h3>  
  <%end%>
<%else%>
<div id="spending_breakdown" class="non_display">
  <h3> Spending in <%=Date.current.strftime('%B, %Y')%> </h3>
<%end%>
	<br>
  <% if @total %>
	  <% if (@total >0)%>
	  <div id="pie_chart" style="width: 600px; height: auto;"></div><br>
	  <%else%>
	  No Transaction were found!
  	<%end%>
  <%end%>
</div>
  <% # this will appear in all the tabs if monthly budget is not inputted %>
<% if !@budget%>
  <div align="left" class="alert alert-info" role="alert"> 
    You need to first enter budget in order to view financial charts!
    Enter Monthly Budget Below.<br>
    <%=button_to 'Create Budget!', new_temp_budget_plan_path, {:class=>"btn btn-primary btn-lg", :method=>'get'}%>
  </div> 
<%end%>