<div align="left" id="advance_search_form" class=<%=@advance_search_class2%>>
	<br><br>
	<%= form_for(@advance_search,url:{controller:"advance_searches",action:"create"},method:"post") do |f| %>
  		<% if @advance_search.errors.any? %>
    	<div id="error_explanation">
     		 <h2><%= pluralize(@advance_search.errors.count, "error") %> prohibited this advance_search from being saved:</h2>

      		<ul>
     		 <% @advance_search.errors.full_messages.each do |msg| %>
       		 <li><%= msg %></li>
     		 <% end %>
     		</ul>
  		</div>
  		<%end%>
  		<table>
			<tr>
				<td width="50px"><strong>From:</strong></td>
				<td><div class="form-group">
						<div class="input-group" >
							<%= f.text_field :start_date_string, :class=>"form-control"%> 
							<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
						</div>
					</div>
				</td>
			</tr>
			<tr class="blank_row"></tr>
			<tr>
				<td><strong>To:</strong></td>
				<td><div class="input-group date"><%= f.text_field :end_date_string, :class=>"form-control"%> 
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
					</div>
				</td>
			</tr>
		</table><br>
		<strong>Search Title:</strong>
		<p><div><%=f.text_field :keyword,:class=>"form-control"%></div></p>
		<strong>Price Range:</strong>
		
		<table width="100%">
			<tr>
				<td width="40%"><div class="input-group"><span class="input-group-addon">$</span><%=f.text_field :minimum_price,{size:7,class:"form-control"}%></div></td>
				<td width="5%"><div align="center"> - </div></td>
				<td width="40%"><div class="input-group"><span class="input-group-addon">$</span><%=f.text_field :maximum_price,{size:7,class:"form-control"}%></div></td>		
			</tr>
		</table>	
		<%=f.hidden_field :hidden_value, :value=>'true'%>	
		<%= f.submit "Search", :name=> nil%>	
  	<% end %>
</div>	
