<ul id="myTab" class="nav nav-tabs" role="tablist">
	<li class="active"><%=link_to "Search Form", '#search_form' %></li>
	<li><%=link_to "Advance Search Form",'#advance_search_form'%></li>
</ul>
<div align="left" id="search_form">
	<br><br>
	<strong>Select transactions:</strong><br><br>
	<%= form_tag spendings_path, :method=>'get' do%>
		<%= select_tag "transac_period", options_for_select(@transac_period,params[:transac_period]) %>		
		<%= submit_tag "Search", :name=> nil%>
	<%end%>
</div>
<div align="left" id="advance_search_form">
	<br><br>
	<%= form_for(@advance_search) do |f| %>
  		<% if @advance_search.errors.any? %>
    	<div id="error_explanation">
     		 <h2><%= pluralize(@advance_search.errors.count, "error") %> prohibited this advance_search from being saved:</h2>

      		<ul>
     		 <% @advance_search.errors.full_messages.each do |msg| %>
       		 <li><%= msg %></li>
     		 <% end %>
     		</ul>
  		</div>
  		<%end%>
  		<table>
			<tr>
				<td width="50px"><strong>From:</strong></td>
				<td><%=f.date_select :start_date%></td>
			</tr>
			<tr class="blank_row"></tr>
			<tr>
				<td><strong>To:</strong></td>
				<td><%=f.date_select :end_date%></td>
			</tr>
		</table><br>
		<strong>Search Title:</strong>
		<p><div><%=f.text_field :keyword,:class=>"form-control"%></div></p>
		<strong>Price Range:</strong>
		
		<table width="100%">
			<tr>
				<td width="40%"><%=f.text_field :minimum_price,{size:7,class:"form-control"}%></td>
				<td width="5%"><div align="center"> - </div></td>
				<td width="40%"><%=f.text_field :maximum_price,{size:7,class:"form-control"}%></td>		
			</tr>
		</table>	
		<%=f.hidden_field :hidden_value, :value=>'true'%>	
		<%= f.submit "Search", :name=> nil%>	
  	<% end %>
</div>	
