<%=will_paginate @spendings, :inner_window=>1%>	
<table width="500">
  <thead>
    <tr>
      <th style="text-align:center">Transaction Date</th>
      <th style="text-align:center">Title</th>
      <th style="text-align:center">Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>	
  <tbody>	
    <% @spendings.each do |spending| %>
      <tr class="<%=cycle('list_line_odd','list_line_even')%>">
      	<td width="5%" align="center"><%=spending.transaction_date_d.strftime('%m/%d/%Y')%></td>
        <td width="55%" align="center"><b><%= spending.title %></b></td>
        <td width="25%" align="center"><%= number_to_currency(spending.price) %></td>
        <td><%= link_to 'Show', spending %></td>
        <td><%= link_to 'Edit', edit_spending_path(spending) %></td>
        <td><%= link_to 'Delete', spending, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>   
  </tbody>
</table>
