<h1>Listing spendings</h1>

<% @transac_period=[["since last week",1],["since this month",2],["since last month",3],["since 3 months ago",4],["since 6 months ago",5],["all",6]]%>

<%= form_tag('search_spending', :remote=>true) do%>
<%= select_tag "transac_period", options_for_select(@transac_period),{:prompt=>"select a period"} %>
<%= submit_tag "Search"%>
<%end%>

<div id="spending_list">
		<%= render "search_spending/spending_list"%>
</div>

<br>

<%= link_to 'Back', profile_url(session[:user_id])%>
