<p id="notice"><%= notice %></p>
<% if @spending.picture_file_name%>
  <%= image_tag @spending.picture.url, {:height=>"100px",:width=>"auto"}%>
<% end %>
<p>
  <strong>Title:</strong>
  <%= @spending.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @spending.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @spending.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @spending.price %>
</p>

<p>
  <strong>Transaction date:</strong>
  <%= @spending.transaction_date %>
</p>

<%= link_to 'Edit', edit_spending_path(@spending) %> |
<%= link_to 'Back', spendings_path %>
