<% @labels=["Food Budget", "Finance Budget", "Shopping Budget", "Transporation Budget", "Entertainment Budget", "Other Budget"]%>
<% @categories=["Food Budget", "Finance Budget", "Shopping Budget", "Auto Budget", "Entertainment Budget", "Other Budget"]%>
Remaining Budget <br>
<table>
<!-- display budgets-->

<% @labels.zip(@budgets_plan_category,@categories).each do |a,b,c|%>
	<tr>
	<%if @category==c%>
		<td><%=a%>:</td><td><div id="current_item"><%=number_to_currency(@hash[b])%></div></td>
	<%elsif @category_error==c%>
		<td><%=a%>:</td><td><div id="current_item_error"><%=number_to_currency(@hash[b])%></div></td>
	<%else%>
		<td><%=a%>:</td><td><%=number_to_currency(@hash[b])%></td>
	<%end%>
	</tr>
<%end%>
</table>
