<% content_for :left do %>
	<div class="panel panel-primary">
		<div class="panel-heading" align="center">Available Budgets</div>
		<div class="panel-body">
			<div id="display_budgets">
			<%= render "display_budgets"%>
			</div>
		</div>
	</div>
<% end %>

<% content_for :right do%>
	<div id="display_saved_recur_costs", style="height:500px">
		<%= render "display_saved_recur_costs"%>
	</div>
<% end %>

<p id="notice"><%= flash[:notice] %></p>
<h1>Enter Recurring Costs</h1>
<div id="error">
	<%= render partial: "error"%>
</div>
<div id="form">
	<%= render 'form' %>
</div>
<br>

<table>
	<tr>	
		<td><a class="btn btn-primary" href=<%=edit_temp_budget_plan_path(@temp_budget_plan)%>><span class="glyphicon glyphicon-arrow-left"></span>Last Page</a></td>
		<td><a class="btn btn-primary" href=<%=profile_url(session[:user_id])%>>Back to Profile<span class="glyphicon glyphicon-arrow-right"></span></a></td>

	</tr>
</table>
