<%= form_for(@finance_item) do |f| %>
  <% if @finance_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@finance_item.errors.count, "error") %> prohibited this finance_item from being saved:</h2>

      <ul>
      <% @finance_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :goal_id %><br>
    <%= f.text_field :goal_id %>
  </div>
  <div class="field">
    <%= f.label :temp_item_id %><br>
    <%= f.text_field :temp_item_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
