<h1>Listing finance_items</h1>

<table>
  <thead>
    <tr>
      <th>Goal</th>
      <th>Temp item</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @finance_items.each do |finance_item| %>
      <tr>
        <td><%= finance_item.goal_id %></td>
        <td><%= finance_item.temp_item_id %></td>
        <td><%= link_to 'Show', finance_item %></td>
        <td><%= link_to 'Edit', edit_finance_item_path(finance_item) %></td>
        <td><%= link_to 'Destroy', finance_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Finance item', new_finance_item_path %>
