<% options_for_select=[['yearly',1],['monthly',2],['biweekly',3],['weekly',4],['daily',5]]%>

<%= form_for(@temp_budget_plan) do |f| %>
	<% if @temp_budget_plan.errors.any? %>
    	<div id="error_explanation">
      <h2><%= pluralize(@temp_budget_plan.errors.count, "error") %> prohibited this temp_item from being saved:  </h2>
      	 <ul>
   	 	  <% @temp_budget_plan.errors.each do |attr,msg| %>
       		 <li><%= msg %></li>
    	  <% end %>
     	 </ul>
    	</div>
  	<% end %>
    <div class="form-group">
    
  	<table width="80%">
  	<tr>
  		<td><%= f.label :recur_period, 'Select Period:'%></td>
  		<td><%= f.select(:recur_period,options_for_select,prompt:'Select a period') %></td>
  	</tr>
    <tr class="blank_row"></tr>
	  <tr>
		  <td><%= f.label :food_budget_v, 'Food Budget:'%></td>
      <td><%= f.text_field :food_budget_v, {:size=>"10", class:'form-control'}%></td>
	  </tr>
    <tr class="blank_row"></tr>  
	  <tr>
		  <td><%= f.label :finance_budget_v, 'Finance Budget:'%></td>
      <td><%= f.text_field :finance_budget_v, {:size=>"10", class:'form-control'}%></td>
	  </tr>
    <tr class="blank_row"></tr>  
	  <tr>
		  <td><%= f.label :shopping_budget_v, 'Shopping Budget:'%></td>
      <td><%= f.text_field :shopping_budget_v, {:size=>"10", class:'form-control'}%></td>
	  </tr>
    <tr class="blank_row"></tr>
	  <tr>
		  <td><%= f.label :auto_budget_v, 'Auto Budget:'%></td>
      <td><%= f.text_field :auto_budget_v, {:size=>"10", class:'form-control'}%></td>
	  </tr>
	  <tr class="blank_row"></tr>
    <tr>
		  <td><%= f.label :entertainment_budget_v, 'Entertainment Budget:'%></td>
      <td><%= f.text_field :entertainment_budget_v, {:size=>"10", class:'form-control'}%></td>
	  </tr>
    <tr class="blank_row"></tr>
	  <tr>
		  <td><%= f.label :other_budget_v, 'Other Budget:'%></td>
      <td><%= f.text_field :other_budget_v, {:size=>"10", class:'form-control'}%></td>
	  </tr>
    <tr>
			<td><%=f.label "Send alert message to remind you to punch in transaction through user email (Highly Recommended)?"%>
      </td>
      <td>
        <%=f.select :alert_send_period, Order::ALERT_SEND_PERIOD, {prompt: 'Select a period'}%>
      </td>
      <td><%= f.hidden_field(:finished, :value=>true)%></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <div align="right">
        <%= f.submit "Next", :class=> 'btn btn-primary'%>
        </div>
      </td>
    </tr>
  </table>
</div>

<% end %>