<!DOCTYPE html>
<html>
<head>
  <title>WebFinance App|About</title>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true%>

  <%= javascript_include_tag 'jquery-ui-1.10.4.custom'%> <!-- vendor plugin js file-->

  <%= csrf_meta_tags %>
  <!-- [if lt IE 9]>
  	<script src="http://html5shim.googlecode.com/svn/trunk/html15.js"></script>
  <![endif]-->
  <style>
 	body {
    		height: 100%;
    		position:relative;
	}
	html{
		height:100%;
	}
  </style>
</head>
<body>
<div style="height:100%">
	<header height="50%" class="navbar-default navbar-inverse navbar-static-top" role="navigation">    	         
		<div class="navbar-inner">
			<div class="container">	
				
  		 		<nav>
  		 			<ul class="navbar-nav nav pull-left">
  		 				<li class="navbar-text"><span class="logo">WebFinance</span></li>
  		 			</ul>
  		 			<ul class="navbar-nav nav pull-right">
  		 								
            		<% if User.find_by(id: session[:user_id])%>
            		<li><%= link_to 'Home', profile_url(session[:user_id])%></li>
           		 	<% end %>
            		<li><a href="/static_pages/demo">Quick Demo</a></li>
            		<% if User.find_by(id: session[:user_id])%>
            		<li><%= link_to 'Sign Out', logout_url, method: :delete%></li>
            		<% else %>
            		<li><%= link_to 'Sign In', login_url%></li>
            		<% end %>
          			</ul>
          		</nav>
        	</div>
		</div>           
	</header>
	<div style="height:80%;overflow:scroll; overflow-x:hidden; padding-bottom:0px">
	<div class="container">
		<div class="row" style="margin: 0 auto;">
	
		<% if controller.controller_name=="profiles"%>
			<div class="col-md-1">
				<%= yield :left%>
			</div>
			<div class="col-md-10" align="center">
				<%= yield :menu%>
				<%= yield %>
			</div>
			<div class="col-md-1">
				<%= yield :right%>
			</div>
		<%else%>
			<div class="col-md-3">
				<%= yield :left%>
			</div>
			<div class="col-md-6" align="center">
				<%= yield %>
			</div>
			<div class="col-md-3">
				<%= yield :right%>
			</div>
		<%end%>
		</div>
	</div>
	</div>
	<footer height="10%" class="navbar-default navbar-inverse navbar-fixed-bottom" role="navigation">             
  		<div class="container">
  			<div class="navbar-inner">
			    <ul class="navbar-nav nav">
      				<li><a href="/static_pages/about">About</a></li>
      				<li><a href="/static_pages/contact">Contact</a></li>
      				<li><a href="#">Blog</a></li>
      			<%= #debug(params) if Rails.env.development? 
      			%>
    			</ul>
   			</div>
  		</div>         
	</footer>
</div>
</body>
</html>
